{{yield}}
<!--<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
Collapsible Group Item #2
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">
Anim pariatur cliche...
</div>
</div>
</div> -->

  <div class="col-md-3 accordion">
    {{control-panel}}
    <div class="panel panel-card accordion-group">
      <div class="panel-heading accordion-heading clickable">
        <div class="row">
          <div class="col-xs-12">
            <a href="#collapseTwo" class="accordion-toggle active " data-toggle="collapse" data-parent="#accordion2" id="login-form-link">Current Users</a>
          </div>

        </div>
        <hr>
      </div>
      <div id="collapseTwo" class="panel-body accordion-inner accordion-body collapse in">
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav_ul navbar-nav">
              {{#each model as |item|}}
              <li class="dropdown col-lg-12">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.name}}<span class="glyphicon glyphicon-user pull-right"></span></a>
              </li>
              {{/each}}
              <!-- <li class="dropdown col-lg-12">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Henry <span class="glyphicon glyphicon-user pull-right"></span></a>
              </li>
              <li class="dropdown col-lg-12">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">john Pinazo <span class="glyphicon glyphicon-user pull-right"></span></a>
              </li>
              <li class="dropdown col-lg-12">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">bobby Pinazo <span class="glyphicon glyphicon-user pull-right"></span></a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
