{{yield}}
  <div class="col-md-3 accordion">
    {{control-panel}}
    <div class="panel panel-card accordion-group">
      <div class="panel-heading accordion-heading clickable">
        <div class="row">
          <div class="col-xs-12">
            <a href="#collapseTwo" class="accordion-toggle active " data-toggle="collapse" data-parent="#accordion2" id="login-form-link">Current Users</a>
          </div>

        </div>
        <hr>
      </div>
      <div id="collapseTwo" class="panel-body accordion-inner accordion-body collapse in">
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav_ul navbar-nav col-lg-12">
              {{#each student as |item|}}
              <li class="dropdown col-lg-12">
                <div class="btn-group btn-group-primary">
   <button class="btn btn-primary" type="button">Primary</button>
   <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button"><span class="caret"></span>
   </button>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li class="divider"></li>
     <li><a href="#">Separated link</a></li>
   </ul>
 </div>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.name}}<span class="glyphicon glyphicon-user pull-right"></span></a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
