<div class="footer-above">
  <div class="container">
    <div class="row">

      {{yield}}
      <div class="footer-col col-md-4" style="color:white">
        <h3>Location</h3>
        <p> Kianda Technologies</p>
        <p> Suite B117, The LINC Centre <br> Blanchardstown, Road North, Dublin 15, Ireland <br> Phone: +353 (01) 254 2001 <br>
          <a href="mailto:info@kianda.com?Subject=Kianda%20Services" target="_top">info@kianda.com</a>
        </p>
      </div>
      <div class="footer-col col-md-4">
        <h3>Around the Web</h3>
        <ul class="social-network social-circle">
          <li><a href="https://twitter.com/KiandaLtd" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/kiandatechnologies" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="footer-col col-md-4">
        <h3> Kianda</h3>
        <h1 class="heading1">“A unique workflow automation platform with great capabilities”</h1>
        <h2> Developed by <a href="http://teradev.ie"> TeraDev </a> </h2>
      </div>
    </div>
  </div>
</div>
<div class="footer-below">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        Copyright &copy; Kianda 2017
      </div>
    </div>
  </div>
</div>
