@import "variables.less";
@import "mixins.less";

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	color: #333;
}

p {
	font-size: 14px;
	color: #333;
}

p.small {
	font-size: 16px;
}

a,
a.active,
a:active,
a:focus,
a:hover {
	//color: @theme-success;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
/*Main CSS*/
/*Main CSS*/

/* #####################################################################*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,900);

.card {
background:#FFF;
display: block;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
border:1px solid #AAA;
border-bottom:3px solid #BBB;
padding:0px;
margin-top:5em;
overflow:hidden;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-family: 'Roboto', sans-serif;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body{
margin:1em;
}

.card-header{
width:100%;
color:#2196F3;
border-bottom:3px solid #BBB;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-family: 'Roboto', sans-serif;
padding:0px;
margin-top:0px;
overflow:hidden;
-webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
			transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}
.card-header-orange{
    background-color:@theme-success;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding:0px;
    margin-top:0px;
    overflow:hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-blue{
    background-color:@theme-success;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding:0px;
    margin-top:0px;
    overflow:hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-heading {
display: block;
font-size: 15px;
line-height: 15px;
text-align: center;
}
.card-p{
	padding-top:50px;
}
.card-footer{
border-top:1px solid #000;

}

.btn:hover:not(.btn-link):not(.btn-flat) {
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn:active:not(.btn-link):not(.btn-flat) {
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
// background-color: transparent;
}
.btn-grey-mat{
background-color:#607D8B;
color:#ffffff;
solid :1px;
margin:10px;
}

.card-action-pink{
color:#E91E63;

}
.card-action-red{
color:#F44336;

}
.card-action-grey{
color:#424242;

}
.card-action-pink{
color:#E91E63;

}
.card-action-orange{
color:@theme-success;

}
	.img-fill  {
		max-height: 100%;
		max-width: 100;
		display: inline-block;
		margin: 1em;
	}

						.card-image {
		overflow: hidden;
		position: relative;
		margin-bottom: 1em;
	}
	.card-image:first-child {
		border-radius: 2px 2px 0 0;
	}
	.card-image:last-child {
		border-radius: 0 0 2px 2px;
	}
	.card-image img {
		display: block;
		height: auto;
		width: 100%;
	}

	.card-image-text {
		background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
		background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
		color: #ffffff;
		font-size: 20px;
		line-height: 28px;
		margin: 0;
		padding: 12px 16px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

.navbar-nav > li {
	border-bottom: 10px;
}
		/**OVERFLOW MENU**/
	/**MENU SETTINGS POPUP**/

	.menu {
		display: none;
						background:#607D8B;
		width: 100%;
		padding: 30px 10px 50px;
		margin: 0 auto;
		text-align: center;
		background-color: #fff;
	}
	.menu ul {
		margin-bottom: 0;
	}
	.menu a {
		color: #000;
		text-transform: uppercase;
		opacity: 0.8;
	}
	.menu a:hover {
		text-decoration: none;
		opacity: 1;
	}
	textarea.form-control{
		align-self: center;
	}
.loginfrm{
	padding-top:20px;
}
/*NAVBAR ND BACKGROUND*/
	 body{
		 background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');

    // background:url('http://40.media.tumblr.com/6e138b33e7e2fadf3ff47d02fd28d74a/tumblr_nscw8gfVlY1uc3lv1o1_1280.jpg');

 }

 #login-dp{
     min-width: 250px;
     padding: 14px 14px 0;
     overflow:hidden;
     background-color:rgba(255,255,255,.8);
 }
 #login-dp .help-block{
     font-size:12px
 }
 #login-dp .bottom{
     background-color:rgba(255,255,255,.8);
     border-top:1px solid #ddd;
     clear:both;
     padding:14px;
 }
 #login-dp .social-buttons{
     margin:12px 0
 }
 #login-dp .social-buttons a{
     width: 49%;
 }
 #login-dp .form-group {
     margin-bottom: 10px;
 }
 .btn-fb{
     color: #fff;
     background-color:#3b5998;
 }
 .btn-fb:hover{
     color: #fff;
     background-color:#496ebc
 }
 .btn-tw{
     color: #fff;
     background-color:#55acee;
 }
 .btn-tw:hover{
     color: #fff;
     background-color:#59b5fa;
 }
 @media(max-width:768px){
     #login-dp{
         background-color: inherit;
         color: #fff;
     }
     #login-dp .bottom{
         background-color: inherit;
         border-top:0 none;
     }
 }
/*###############################################*/

//**********************************************************************************
//AACORDION CSS

.panel-heading:hover {
	cursor: pointer;
	background-color: @theme-success;
}

.collapse.in > .panel-body {
	background-color: white;
}

.panel-heading {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.side-tab {
	color: @theme-primary;
}

.side-tab:hover {
	cursor: pointer;
	background-color: #5a4080;
}

.panel.panel-default {
	border: none;
	box-shadow: none !important;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.panel-heading {
	border: none;
	background-color: @theme-primary;
}

.panel-body {
	// background-color: @theme-success;
}

.panel-title {
	font-weight: 400;
	color: white;
}

.panel-group {
	padding: 20px;
}

.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.required-field-block {
	position: relative;
	padding: 3px;
}

.required-field-block .required-icon {
	display: inline-block;
	vertical-align: middle;
	margin: -0.25em 0.25em 0;
	background-color: #E8E8E8;
	border-color: #E8E8E8;
	padding: 0.5em 0.8em;
	color: rgba(0, 0, 0, 0.65);
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 0.325em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	transition: background 0.1s linear;
	font-size: 75%;
}

.required-field-block .required-icon {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	margin: 0;
	width: 30px;
	height: 30px;
	padding: 0;
	text-align: center;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
	position: absolute;
	content: "";
	right: 1px;
	top: 1px;
	z-index: -1;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 0 solid transparent;
	border-right-color: inherit;
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px 0 0 12px;
}

@media screen and (max-width: 480px) {
}




@media (max-width: 360px) {

}

	.footer-col {
		margin-bottom: 50px;
	}

	.footer-below {
		padding: 25px 0;
		background-color: darken(@theme-primary, 5%);
	}


.btn-outline {
	color: #333;
	font-size: 14px;
	border: solid 2px #333;
	background: transparent;
	transition: all 0.3s ease-in-out;
	//  margin-top: 15px;
	&.active,
	&:active,
	&:focus,
	&:hover {
		color: @theme-success;
		background: white;
		border: solid 2px @theme-success;
	}
}
@media screen and (max-width: 768px) {
	.btn-outline {
		color: #18BC9C;
		border: solid 2px #18bc9c;
		// margin-top: 15px;
	}
}

.btn-primary {
	.button-variant(white; @theme-primary; @theme-primary);
	font-weight: 700;
}

.btn-success {
	background-image: -webkit-linear-gradient(top, #18BC9C 0%, #18BC9C 100%);
	//.button-variant(white; @theme-success; @theme-success);
	font-weight: 700;
	background-repeat: repeat;
	//border-color: whitesmoke;
	border: none;
}




.scroll-top {
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
	z-index: 1049;

	.btn {
		font-size: 20px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		line-height: 28px;
	}
}

.portfolio-modal {
	.modal-content {
		border-radius: 0;
		background-clip: border-box;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		min-height: 100%;
		padding: 100px 0;
		text-align: center;

		h2 {
			margin: 0;
			font-size: 3em;
		}

		img {
			margin-bottom: 30px;
		}

		.item-details {
			margin: 30px 0;
		}
	}

	.close-modal {
		position: absolute;
		width: 75px;
		height: 75px;
		background-color: transparent;
		top: 25px;
		right: 25px;
		cursor: pointer;

		&:hover {
			opacity: 0.3;
		}

		.lr {
			height: 75px;
			width: 1px;
			margin-left: 35px;
			background-color: @theme-primary;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			/* IE 9 */
			-webkit-transform: rotate(45deg);
			/* Safari and Chrome */
			z-index: 1051;

			.rl {
				height: 75px;
				width: 1px;
				background-color: @theme-primary;
				transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				/* Safari and Chrome */
				z-index: 1052;
			}
		}
	}

	.modal-backdrop {
		opacity: 0;
		display: none;
	}
}

#skipnav a {
	padding: 6px;
	position: absolute;
	top: -40px;
	left: 0;
	color: white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-bottom-right-radius: 8px;
	background: transparent;
	transition: top 1s ease-out, background 1s linear;
	z-index: 2000;

	&:focus {
		position: absolute;
		left: 0;
		top: 0;
		background: @theme-success;
		outline: 0;
		transition: top 0.1s ease-in, background 0.5s linear;
	}
}

div#maincontent {
	outline: none;
}
.top{
	height: 0px;
}
