{{portal-header}}
<a id="back-to-top" href="#" class="btn btn-success btn-sm back-to-top" style="vertical-align: text-top;" role="button" title="Click to return on the top page" data-toggle="tooltip" data-spy="affix" data-placement="left">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>
<!-- <section class="products" id="product">
  <div class="row">
                    <div class="col-md-12" data-wow-delay="0.2s">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel"> -->
                            <!-- Bottom Carousel Indicators -->
                            <!-- <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
                                </li>
                            </ol> -->

                            <!-- Carousel Slides / Quotes -->
                            <!-- <div class="carousel-inner text-center"> -->

                                <!-- Quote 1 -->
                                <!-- <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div> -->
                                <!-- Quote 2 -->
                                <!-- <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div> -->
                                <!-- Quote 3 -->
                                <!-- <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div> -->

                            <!-- Carousel Buttons Next/Prev -->
                            <!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
<hr class="divider"/>
</section> -->
<!--Product-->
<!--portal-services -->
<!-- <section class="sutionlayer solutions" id="solutions">
  <div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row article">
          <div class="row">
      <div class="span8 col-lg-4">
        <h4><strong><a href="#">Title of the post</a></strong></h4>
      </div>
    </div>
    <div class="row col-lg-12">
      <div class="span2 col-lg-3">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
        </a>
      </div>
      <div class="span6 col-lg-9">
        <p>
          Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
        </p>
        <p><a class="btn" href="#">Read more</a></p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> by <a href="#">John</a>
          | <i class="icon-calendar"></i> Sept 16th, 2012 -->
          <!-- | <i class="icon-comment"></i> <a href="#">3 Comments</a> -->
          <!-- | <i class="icon-share"></i> <a href="#">39 Shares</a> -->
          <!-- | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a> -->
          <!-- <a href="#"><span class="label label-info">Bootstrap</span></a> -->
          <!-- <a href="#"><span class="label label-info">UI</span></a> -->
          <!-- <a href="#"><span class="label label-info">growth</span></a>
        </p>
      </div>
    </div>


        </div>
    </div>
</div>
</section> -->


<!-- <section class="sutionlayer solutions" id="solutions">
  <div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="#">Hercules</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
						        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
				                <img src="#"/>
								<a title="" href="#">Anna</a>
								<i>from Glasgow, Scotland</i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="#">The Purge: Anarchy</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
				                <img src="#"/>
						        <a title="" href="#">Ella Mentree</a>
								<i>United States</i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="#">Planes: Fire & Rescue</a>
								<div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img src="#"/>
								<a title="" href="#">Rannynm</a>
								<i>Indonesia</i>
							</div>
						</div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="#">Hercules</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
						        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
								<img alt="" src="#">
								<a title="" href="#">Anna</a>
								<i>from Glasgow, Scotland</i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="#">The Purge: Anarchy</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
								<img alt="" src="#">
						        <a title="" href="#">Ella Mentree</a>
								<i>United States</i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="#">Planes: Fire & Rescue</a>
								<div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img alt="" src="#">
								<a title="" href="#">Rannynm</a>
								<i>Indonesia</i>
							</div>
						</div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="#">Hercules</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
						        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
								<img alt="" src="#">
								<a title="" href="#">Anna</a>
								<i>from Glasgow, Scotland</i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="#">The Purge: Anarchy</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
								<img alt="" src="#">
						        <a title="" href="#">Ella Mentree</a>
								<i>United States</i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="#">Planes: Fire & Rescue</a>
								<div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img alt="" src="#">
								<a title="" href="#">Rannynm</a>
								<i>Indonesia</i>
							</div>
						</div>
                    </div>
                </div>
                <a class="left carousel-controls" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-controls" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</section> -->

<!-- About Section -->
<!-- <section class="company" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> <a name="about" class="heading2"> About Poppies </a> </h2>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 col-lg-offset-0 companyimg"> -->
        <!-- <img class="img img-responsive  img-rounded" src="img/Kianda-Osvaldo1.jpg" alt="Osvaldo sousa, founder of Kianda in Kianda office" align="left">

      </div>
      <div class="col-lg-8 col-sm-12 col-xs-12 section-content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. </p>
        <P>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.        </P>
      </div>

    </div>
  </div> -->
<!-- </section>
<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> <a name="team" class="heading2">MEET THE TEAM</a></h2>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="card-container">
        <div class="card sr-cards ">
          <div class="front">
            <div class="cover grad1" style="background-color:#2c3e50"> -->
              <!-- <img src="https://image.shutterstock.com/z/stock-photo-ha-penny-bridge-of-the-river-liffey-in-dublin-ireland-in-the-evening-with-lights-and-reflections-554057239.jpg"/> -->
            <!-- </div>
            <div class="user">
              <img class="img-circle" src="img/Kianda-Osvaldo2.jpg" alt= "Osvaldo Sousa founder of Kianda" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Osvaldo Sousa</h3>
                <p class="profession">Founder</p>
                <p class="text-center">“Forms, workflow and collaboration expert. Helping teams to be more productive & efficient with over 16 years’ experience in the IT industry”</p>
              </div>
            </div>
          </div> -->
          <!-- end front panel -->
          <!-- <div class="back">
            <div class="header">
              <h5 class="motto">“Integrity is doing the right thing, even no one is watching”</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">Specialities</h4>
                <p class="text-center">Software development services, enterprise workflows, business forms and business process automation, IT advise, consultancy, web development technologies and SharePoint expertise.</p>



              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="https://twitter.com/osvaldosousa" class="twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                  <a href="https://www.linkedin.com/in/osousa/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end back panel -->
        <!-- </div> -->
        <!-- end card -->
      <!-- </div> -->
      <!-- end card-container -->
    <!-- </div> -->
    <!-- end col-sm-3 -->

    <!-- <div class="col-md-3 col-sm-6">
      <div class="card-container ">
        <div class="card sr-cards">
          <div class="front">
            <div class="cover" style="background-color:#337ab7"> -->
              <!-- <img src="https://thumbs.dreamstime.com/z/rome-night-view-vatican-bridges-over-river-tiber-italy-33404061.jpg"/> -->
            <!-- </div>
            <div class="user">
              <img class="img-circle" src="img/Kianda-Derya.jpg" alt="Derya Sousa Co-founder of Kianda"/>
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Derya Sousa</h3>
                <p class="profession">Co-Founder</p>
                <p class="text-center">“IT consultant, web developer and technical project manager, developing bespoke enterprise solutions in pharma industry, specialised in UI and UX practices”</p>
              </div>
            </div>
          </div> -->
          <!-- end front panel -->
          <!-- <div class="back">
            <div class="header">
              <h5 class="motto">“Innovation is not about ideas, it is about making ideas happen”</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">Specialities</h4>
                <p class="text-center">Web development and design, custom enterprise applications, databases, SAP and web integration, Content Management Systems, CRM solutions, Web services</p>
              </div>

              <div class="footer">
                <div class="social-links text-center">
                  <a href="https://twitter.com/deryasahna" class="twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                  <a href="https://www.linkedin.com/in/deryasousa/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end back panel -->
        <!-- </div> -->
        <!-- end card -->
      <!-- </div> -->
      <!-- end card-container -->
    <!-- </div> -->
    <!-- end col-sm-3 -->

   {{!-- <div class="col-md-3 col-sm-6">
      <div class="card-container" id="#mycard">
        <div class="card">
          <div class="front">
            <div class="cover" style="background-color:#337ab7">
              <!-- <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/> -->
            </div>
            <div class="user">
              <img class="img-circle" src="img/Kianda-Alan.jpg" alt="Alan Costello Business Developer" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Alan Costello</h3>
                <p class="profession">Head of Business Developer</p>
                <p class="text-center">“Strategy, Innovation & Growth for Digital Startups, helping scaling companies”</p>
              </div>
            </div>
          </div>
          <!-- end front panel -->
          <div class="back">
            <div class="header">
              <h5 class="motto">“Excellence is not being the best, it is doing your best”</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">Specialities</h4>
                <p class="text-center">Business consultant, entrepreneurship, innovation, strategy, mentoring</p>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="https://twitter.com/alanjcostello" class="twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                  <a href="https://ie.linkedin.com/in/alanjcostello" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end back panel -->
        </div>
        <!-- end card -->
      </div>
      <!-- end card-container -->
    </div> --}}

    <!-- <div class="col-md-3 col-sm-6">
      <div class="card-container">
        <div class="card sr-cards">
          <div class="front">
            <div class="cover" style="background-color:#2c3e50"> -->
              <!-- <img src="https://thumbs.dreamstime.com/z/nairobi-kenya-night-falls-over-city-s-capital-east-africa-s-largest-city-population-million-people-34067418.jpg"/> -->
            <!-- </div>
            <div class="user">
              <img class="img-circle" src="img/Kianda-Robert.png" alt="Robert Grealis Advisor of Kianda" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Robert Grealis</h3>
                <p class="profession">Advisor</p>
                <p class="text-center">"CEO of Team Horizon, global life sciences engineering solutions provider, Business Development, Operational Planning"</p>
              </div>
            </div>
          </div> -->
          <!-- end front panel -->
          <!-- <div class="back">
            <div class="header">
              <h5 class="motto">“Don't modify your dreams. Magnify your skills.”</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">Specialities</h4>
                <p class="text-center">Start-ups, management, business strategy and planning, consulting, coaching</p>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="https://www.linkedin.com/in/robertgrealis/" class="twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                  <a href="https://twitter.com/robertgrealis" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
          end back panel
        </div>
        end card
      </div>
      end card-container
    </div>
    end col-sm-3

    <div class="col-md-3 col-sm-6">
      <div class="card-container" id="#mycard">
        <div class="card sr-cards">
          <div class="front">
            <div class="cover" style="background-color:#337ab7">
              <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>
            </div>
            <div class="user">
              <img class="img-circle" src="img/Kianda-Henry.jpg" alt=" Henry Wainaina web Developer at Kianda" />
            </div>
            <div class="content">
              <div class="main">
                <h3 class="name">Henry Wainaina</h3>
                <p class="profession">Web Developer</p>
                <p class="text-center">“Strong dedication to programming, web development, good knowledge of web technologies and enthusiastic on learning new skills”</p>
              </div>
            </div>
          </div>
           end front panel -->
          <!-- <div class="back">
            <div class="header">
              <h5 class="motto">“Excellence is not being the best, it is doing your best”</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center">Specialities</h4>
                <p class="text-center">Web development, HTML5, Ember.js, Angular, JQuery, SharePoint development, databases</p>
              </div>
              <div class="footer">
                <div class="social-links text-center">
                  <a href="https://twitter.com/Henrie9" class="twitter"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                  <a href="https://www.linkedin.com/in/henry-wainaina-362999b9/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end back panel -->
        <!-- </div> -->
        <!-- end card -->
      <!-- </div> -->
      <!-- end card-container -->
    <!-- </div> -->


    <!-- end col sm 3 -->
  <!-- </div>
</section>

<section class="whykianda" id="whykianda">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> <a name= class="heading2"></a></h2>
      </div>
    </div>
    <div class="row slideanim">
      <div class="col-sm-6 col-lg-4">
        <div class="box img img-responsive">
          <img src="img/whykianda/change.jpg" class="img img-responsive" alt="Automating internal and external collaboration is the new way" />
          <div class="overlay">
          </div>
          <h3>CHANGE</h3>
          <p class="more">Ready to innovate? <br> Transform your business, automate internal and external processes         </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box img img-responsive">
          <img src="img/whykianda/savetime.jpg" class="img img-responsive" alt="Save up to 20% of your time and costs by automating your business processes"/>
          <div class="overlay">

          </div>
          <h3> SAVE TIME & MONEY </h3>
          <p class="more">Save up to 40% of your time and costs</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box img img-responsive">
          <img src="img/whykianda/efficiency.jpg" class=" img img-responsive" alt="Unlock the secrets of increasing efficiency by using Kianda"/>
          <div class="overlay">
             <p class="more" > save up to 20% of your time by automating your business processes with Kianda.</p> --> -->
<!--          </div>
          <h3> EFFICIENCY</h3>
          <p class="more">Unlock the secrets of increasing efficiency</p>
        </div>
      </div> -->

      <!-- <div class="col-sm-6 col-lg-4">
        <div class="box img img-responsive">
          <img src="img/whykianda/automation1.jpg" class="img img-responsive" alt="Automate your processes, streamline and grow your business"/>
          <div class="overlay">
          </div>
          <h3> AUTOMATION</h3>
          <p class="more">Automate your processes, streamline and grow your business</p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="box img img-responsive">
          <img src="img/whykianda/transparency.jpg" class="img img-responsive" alt="Build trust among your business network through Kianda"/>
          <div class="overlay">
          </div>
          <h3> TRANSPARENCY</h3>
          <p class="more">Build trust among your business network through Kianda</p>
        </div>
      </div>


      <div class="col-sm-6 col-lg-4">
        <div class="box img img-responsive">
          <img src="img/whykianda/shake2.jpg" class="img img-responsive" alt="Stay closer and connected to your partners"/>
          <div class="overlay">
          </div>
          <h3> CLOSER RELATIONSHIPS</h3>
          <p class="more">Stay closer and connected to your partners</p>
        </div>
      </div>

    </div>
  </div>
</section> -->

<!-- Contact Section -->
<!-- <section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2> <a name="contact" class="heading2">Contact Us </a></h2> -->
        <!-- <hr class="star-primary"> -->
      <!-- </div>
    </div>
    <div class="row">
      <div class=" col-lg-12">
        <div class="contact">
          <p class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-3">If you have any questions or would like to learn more about Kianda, please feel free to get in touch.</p>
          <p class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-5 col-xs-offset-2"> <i class="fa fa-envelope fa-2x"></i> <a href="mailto:info@kianda.com?Subject=Kianda%20Services" target="_top">info@kianda.com</a></p>
          <p class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-5 col-xs-offset-2"> <i class="fa fa-phone-square  fa-2x"></i> Tel: +353 (01) 254 2001</p>
        </div>

      </div>
    </div>
  </div>
</section> -->
<!-- REQUEST A DEMO SECTION -->
<section id="requestDemo" class="requestDemo">


</section>
{{outlet}}
